body {
    width: 100%;
    height: 100%;
    background-color: #004BAC;
    margin: 0;
    z-index: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Open Sans', Arial, sans-serif;
}

#top {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 79px;
    width: 100%;
    z-index: 1;
    background-color: white;
    overflow: visible;
}

#mainbody {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    height: 1195px;
    width: 1010px;
    margin: 0 auto;
    padding-top: 24px;
    z-index: -1;
    background-color: #004BAC;
}

#footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 160px;
    margin-top: 5px;
    width: 1010px;
    border-radius: 6px;
    background-color: white;
}

#logoetc {
    width: 1010px;
    height: 47px;
    padding: 16px 0;
    position: relative;
    display: flex;
}

#logo {
    position: relative;
    width: 210;
    height: 34;
    margin: 0 16px;
    float: left;
}

#search-form {
    position: relative;
    width: 320px;
    height: 32px;
    margin: 0 16px;
}

#search-bar {
    position: relative;
    width: 314px;
    height: 28px;
    border-radius: 4px;
    border-color: lightgray;
    border: 1px solid #999;
    top: 5px
}

#submit-button {
    position: relative;
    width: 30px;
    height: 28px;
    bottom: 25px;
    background-color: transparent;
    border: 0;
    left: 285px;
}

#fb {
    position: relative;
    width: 90.5px;
    height: 32;
    margin: 0 16px;
    top: 5px;
}

#cog {
    position: relative;
    width: 27px;
    height: 33px;
    top: 8px;
    left: 184px
}

#lang {
    position: relative;
    width: 66px;
    height: 32px;
    margin: 0 16px;
    left: 185px;
    top: 5px;
}

#navbar {
    position: absolute;
    width: 1006px;
    height: 32px;
    z-index: 10;
    top: 63px;
    border-radius: 6px;
    background-color: white;
    display: flex;
    justify-content: space-around;
}

#nav-bar-first {
    position: relative;
    border-radius: 4px 0 0 4px;
    height: 32px;
    background-color: #e4e4e4;
    padding: 0 8px;
    border-width: 0.5px 0 0.5px 0.5px;
    border: 0.5px solid #666;
    bottom: 4px;
}

.nav-img {
    position: relative;
    top: 5px;
}

.nav-bar {
    position: relative;
    height: 32px;
    width: 100px;
    background-color: #e4e4e4;
    padding: 0 8px;
    border-width: 0.5px 0 0.5px 0.5px;
    border: 0.5px groove #666;
    font-size: 12px;
    color:  #004BAC;
    font-weight: 600;
    line-height: 32px;
    display: flex;
    justify-content: space-evenly;
    bottom: 4px;
}

.nav-text1 {
    position: relative;
    margin: 0 6px;
}

.nav-text1::before {
    position: relative;
    content: url(assets/ball.png);
    top: 4px;
    right: 2px;
}

.nav-text2 {
    position: relative;
    margin: 0 6px;
}

.nav-text2::before {
    position: relative;
    content: url(assets/star.png);
    top: 4px;
    right: 2px;
}

.nav-text3 {
    position: relative;
    margin: 0 6px;
}

.nav-text3::before {
    position: relative;
    content: url(assets/tank.png);
    top: 4px;
    right: 2px;
}

.nav-text4 {
    position: relative;
    margin: 0 6px;
}

.nav-text4::before {
    position: relative;
    content: url(assets/castle.png);
    top: 4px;
    right: 2px;
}

.nav-text5 {
    position: relative;
    margin: 0 6px;
}

.nav-text5::before {
    position: relative;
    content: url(assets/action.png);
    top: 4px;
    right: 2px;
}

.nav-text6 {
    position: relative;
    margin: 0 6px;
}

.nav-text6::before {
    position: relative;
    content: url(assets/multi.png);
    top: 4px;
    right: 2px;
}

.nav-text7 {
    position: relative;
    margin: 0 6px;
}

.nav-text7::before {
    position: relative;
    content: url(assets/puzzle.png);
    top: 4px;
    right: 2px;
}

.nav-text8 {
    position: relative;
    margin: 0 6px;
}

.nav-text8::before {
    position: relative;
    content: url(assets/android.png);
    top: 4px;
    right: 2px;
}

.nav-text9 {
    position: relative;
    margin: 0 6px;
}

.nav-text9::before {
    position: relative;
    content: url(assets/android.png);
    top: 4px;
    right: 2px;
}

#nav-bar-last {
    position: relative;
    border-radius: 0 4px 4px 0;
    height: 32px;
    background-color: #e4e4e4;
    padding: 0 8px;
    border-width: 0.5px 0 0.5px 0.5px;
    border: 0.5px solid #666;
    bottom: 4px;
}

#image {
    position: relative;
    width: 1010px;
    height: 170px;
}

#searchres {
    position: relative;
    width: 672px;
    height: 48px;
    margin: 0 9px 8px 0;
    padding-bottom: 8px;
    border-radius: 4px;
    background-color: white;
}

#restitle {
    position: relative;
    width: 668px;
    height: 45px;
    background-color: #09f;
    border-radius: 4px;
    left: 2px;
    top: 2px;
}

#searchstuff {
    position: relative;
    width: 672px;
    height: 194.5px;
    margin: 0 9px 8px 0;
    padding-bottom: 8px;
    border-radius: 4px;
    background-color: white;
}

#games {
    position: relative;
    width: 672px;
    height: 370px;
    margin: 0 9px 8px 0;
    padding-bottom: 8px;
    border-radius: 4px;
    background-color: white
}

#gametitle {
    position: relative;
    width: 668px;
    height: 32px;
    background-color: #09f;
    border-radius: 4px;
    left: 2px;
    top: 2px;
}

#empty {
    position: relative;
    width: 672px;
    height: 525px;
    margin: 0 9px 8px 0;
    border-radius: 4px;
}

#advert {
    position: relative;
    width: 298px;
    height: 268px;
    background-color: white;
    margin: 0 0 8px;
    border-radius: 4px;
    padding: 12px;
}

#multiplayer {
    position: relative;
    width: 321px;
    height: 287px;
    margin: 0 0 8px;
    border-radius: 4px;
    background-color: white;
}

#phone {
    position: relative;
    width: 325px;
    height: 291px;
    margin: 0 0 8px;
    border-radius: 4px;
    background-color: white;
}

#foot-top {
    position: relative;
    width: 974px;
    height: 32px;
    border-radius: 4px;
    padding: 16px;
    background-color: #09f;
    top: 2px;
}

#foot-mid {
    position: relative;
    width: 974px;
    height: 32px;
    padding: 16px;
    border-radius: 4px;
}

#foot-bot {
    position: relative;
    width: 974px;
    height: 60px;
    padding: 16px;
    border-radius: 4px;
}